/* 
	Dev Note:  Layout is changed to two column only when padding left & right of #content_block are set to 0
*/
@charset "UTF-8";
@font-face {
	font-family: "7 hours";
	src: url(../fonts/7_hours_installable.ttf) format("truetype");
}


body {
	margin: 0;
	padding: 0;
	background: white no-repeat fixed url("../img/hello-baby-clara-sleeping-background.jpg"); /* URL is defined in js */
	background-size: 100%;
	background-position: center bottom;
	font-family: "7 hours";
	min-height: 100vw;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #db0000;
}


#contact {
	margin: 0, auto, 0, auto;
	padding-top: 10vw;
	
	text-align: center;
	position: relative;
}
#contact .socialIconDiv  {
	text-align: center;
	align-content: center;
	width: 100%;
	pointer-events: auto;
}
#back {
	width: 100%;
	text-align: center;
	font-size: 3em;
	margin-top: 5vw;
	visibility: hidden;
}

@media (max-width: 1024px) {
	
	body {
		background-size: 180%; /* key layout config */
		background-position: right 66% bottom 0px;
		padding-bottom: 115vw; /* key layout config */
	}
  
}